* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    border: 1px solid red;

    width: 700px;
    height: 500px;

    display: flex;
}

.product-image-section {
    /* border: 1px solid blue; */

    width: 50%;
    overflow: hidden;
}

.product-image-section > img {
    width: 100%;
}

.product-info-section {
    width: 50%;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-price-section {
    display: flex;
}
